
/* universal */
body {
    height: auto;
    margin: auto;
    background-color: #F0F0F0;
}


/*header*/

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 2px solid #3477C8;
}

nav {
    text-align: right;
    flex-grow: 1;
}

nav span {
    display: inline-block;
    padding: 20px 50px 20px 10px;
    color: #F0F0F0;
    font-size: 25px;
}

header {
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  background-color: #3477CB;
}

header img {
    height: 50px;
    padding: 5px 10px;
} 

 .name {
    color: #F0F0F0;
    font-size: 40px;
}


/* banner */
.banner {
    background-image: url('external-content/banner-img.jpg'); 
    display: block; 
    background-repeat: no-repeat;
    height: 35rem;  
    background-size: cover;
    
    
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.make-ready {
    position: relative;
    background-color: white;
    color: #3477C8;
    font-weight: bold;
    width: 25rem;
    padding: 15px 15px;
    top: 10rem;
    left: 45rem;
    font-size: 4rem;
    text-align: center;
}


.button {
    background-color: #3477C8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 7px

}

/*panel*/

#panel {
    height: 500px;
    
}

.explain {
    width: 300px;
    opacity: 1;
    margin: 50px 90px; 
    padding-right: 

}

.explain h3 {
    text-align: center;
    font-size: 2.5rem;
    color: #3477C8;
}

.explain p {
    text-align: center;
    padding-top: 10px;
}

.explain img {
    height: 175px;
    width: 100%;
}

/*info*/


/* contact form*/


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}


/* message */



/*footer*/